---
import clsx from "clsx";
import type { StarlightRouteData } from "@astrojs/starlight/route-data";
import { NormalizePathPosix } from "../utils/NormalizePath"


const sidebar = Astro.locals.starlightRoute.sidebar;
const pathname = NormalizePathPosix(Astro.locals.starlightRoute.id);


const applyLinkClasses = (href: string) => clsx([
        "block w-full pl-3.5 before:pointer-events-none",
        "before:absolute before:top-1/2 before:-left-1",
        "before:h-1.5 before:w-1.5 before:-translate-y-1/2",
        "before:rounded-full"
    ],
    NormalizePathPosix(href) === pathname
    ? [ "font-semibold text-sky-500 before:bg-sky-500" ]
    : [
        "text-slate-500 before:hidden",
        "before:bg-slate-300 hover:text-slate-600",
        "hover:before:block dark:text-slate-400",
        "dark:before:bg-slate-700 dark:hover:text-slate-300"
    ]
                         
                  
)
---

<nav class="text-base lg:text-sm ">
  <ul role="list" class="space-y-9">
    {sidebar.map((section) => (
      <li>
        {section.type === "group" ? (
          <>
            <h2 class="font-display font-medium text-slate-900 dark:text-white">
              {section.label}
            </h2>
            <ul
              role="list"
              class="mt-2 space-y-2 border-l-2 border-slate-100 lg:mt-4 lg:space-y-4 lg:border-slate-200 dark:border-slate-800"
            >
              {(section.entries).map((link) =>
                link.type === "link" ? (
                  <li class="relative">
                    <a
                      href={link.href}
                      class={applyLinkClasses(link.href)}
                    >
                      {link.label}
                    </a>
                  </li>
                ) : null
              )}
            </ul>
          </>
        ) : section.type === "link" ? (

           
          <a
            href={NormalizePathPosix(section.href)}
                class={applyLinkClasses(section.href)}
          >
            {section.label}
          </a>
        ) : null}
      </li>
    ))}
  </ul>
</nav>
